body {
  font-family: Arial, sans-serif;
}
.navbar {
  height: 60px;
}
.navbar-elements {
  float: right;
  font-size: 13px;
  color: #444;
  line-height: 30px;
}
.navbar-elements div{
  display: inline-block;
  margin:10px;
}
.navbar-elements img{
  height: 18px;
  width: 18px;
  margin-top: 3px;
}
.sign-in {
  font-weight: bold;
  color: white;
  background-color: #4285f4;
  border: 2px solid #4285f4;
  border-radius: 5%;
  padding: 0px 10px 0px 10px;
}
.logo {
  height: 230px;
}
.logo img{
  width: 270px;
  height: 95px;
  display: block;
  padding-top: 130px;
  margin-left: auto;
  margin-right:auto;
}
.search-container{
  height: 40px;
}
.search-bar {
  width: 500px;
  margin: 20px;
  padding: 5px 25px 5px 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: url(https://cdn1.iconfinder.com/data/icons/phone-logs/24/Phone_logs_Line-12-512.png) no-repeat right center;
  background-size: 20px 20px;
}
.search-container img{
  height:20px;
  width: 20px;
}
.buttons {
  color:#444;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5%;
  padding: 7px;
  font-weight: bold;
  margin-left: 10px
}
.search-submit {
  height: 45px;
  text-align: center;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.extra {
  font-size: 13px;
  text-align: center;
  width: 300px;
  margin: auto;
}
