body {
  font-family: Helvetica, sans-serif;
}
h1 {
  font-size: 60px;
  color: #333;
  text-align: center;
}
h2 {
  font-size: 40px;
  color: #333;
  text-align: center;
}
h3 {
  font-size: 26px;
  color: #777;
  text-align: center;
}
h4 {
  font-size: 18px;
  color: #fff;
  text-align: center;
  padding: 15px;
}
h5 {
  font-size: 18px;
  color: #333;
  text-align: center;
}
.navbar {
  height: 50px;
  margin: 10px;
}
.logo {
  font-size: 24px;
  color: #555;
  padding: 10px 0px 10px 70px;
  display: inline-block;
}
.navbar-elements {
  float: right;
  width: 200px;
  height: 30px;
  padding: 5px;
  text-align: center;
  line-height: 5px;
}
.user-image {
  height: 30px;
  width: 50px;
  border: 2px solid #f0f0f0;
  display: inline-block;
}
.cart {
  font-size: 20px;
  color: #555;
  display: inline-block;
  padding: 3px;
}
.main-heading {
  position: relative;
}
.main-heading:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(http://s3.amazonaws.com/viking_education/demos/viking_store_app/viking_ship_background_medium.jpg) no-repeat;
  background-size: 100% 100%;
  opacity: 0.4;
  z-index: -1;
}
.main-heading h1{
  padding: 240px;
  font-weight: bold;
  color: #000;
}
.heading1 {
  height: 200px;
  background-color: #333;
}
.heading1 h2 {
  padding: 80px;
  color: white;
}
.sub-heading {
  height: 85px;
}
.sub-heading h3 {
  font-style: italic;
  padding: 30px;
}
.store-frame {
  height: 1000px;
  border: 2px solid #777;
}
.product-wrapper {
  height: 100%;
  width: 90%;
  text-align: center;
  margin: 0px 100px 0px 100px;
}
.product {
  height: 300px;
  width: 250px;
  margin: 10px;
  border: 2px solid #555;
}
#title {
  height: 60px;
  background-color: #333;
}
#pimg {
  height:180px;
}
#pimg img {
  height: 100%;
  width: 100%;
  z-index: -1;
  position: relative;
  top: -20px;
}
#price {
  float: right;
  border: 1px solid #aaa;
  padding: 3px 5px 3px 5px;
}
#pfooter {
  height: 60px;
  background-color: #333;
}
button {
  margin-top: 15px;
  background-color: orange;
  border: 2px solid #999;
}